*.svg filter=lfs diff=lfs merge=lfs -text
database/avatars/*.jpg filter=lfs diff=lfs merge=lfs -text
database/avatars/*.jpeg filter=lfs diff=lfs merge=lfs -text
database/avatars/*.png filter=lfs diff=lfs merge=lfs -text
